*{
    background-color: #1b1b1b;
    color:white;

}

body{
        margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    color: beige;
    font-size: larger;
}

.child{
      height: 260px;
    width: 260px;
    border-radius: 12px;
    background-color: #8eb7f0;
    /* background-color:linear-gradient(#7ea2d3 #bad7ff); */
}
#parent{   
   padding: 10px 20px;
    background-color: #181f26;  
   display: flex;
   align-items: center;
   justify-content: center;
   justify-content: space-evenly;
   gap: 12px;
}

