*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "MyFont";
  src: url("asset/fonts/CursorGothic-Regular.woff2") format("woff2");
  font-weight: 100;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* Colors */
  --color-bg: #14120b;
  --color-surface: #201e19;
  --color-text: #edecec;
  --color-text-muted: #a0a0a0;
  --color-border: #2a2a2a;
  --color-primary: #f54e00;

  /* Layout */
  --container-max-width: 1220px;
  --container-padding: 32px;
}

a {
  text-decoration: none;
  color: #b83b00;
}

body {
  font-family: "MyFont", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-weight: normal;
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

nav {
  width: 100%;
}

.navbar {
  color: var(--color-section);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 18px;
  background-color: var(--color-bg);
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  margin-right: 78px;
}
.icon {
  text-align: center;
  font-size: larger;
}
.name h1 {
  font-weight: 600;
  font-size: 17px;
  letter-spacing: -1.2;
}

.nav-links {
  display: flex;
  gap: 8px;
}

.nav-links a {
  font-size: small;
  color: var(--color-section);
  text-decoration: none;
  padding: 5.6px 14px;
}

button {
  background: none;
  padding: 4px 10.5px;
  border-radius: 20px;
  border: 0.5px solid var(--color-text-muted);
}

.sign-in-btn {
  color: var(--color-text);
}
.download-btn {
  background: #edecec;
  border: 0.5px solid var(--color-text);
}

.hero {
  margin-top: 112px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.hero-first-part {
  max-width: 640px;
}

.hero-first-part p {
  font-size: 26px;
  line-height: 1.3;
  margin-bottom: 24px;
}

.hero-download-btn {
  background: #edecec;
  color: #000;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 999px;
  margin-bottom: 22px;
}

.hero-second-part img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 48px;
}

.trustedby {
  /* padding: 6px 18px; */
  margin-bottom: 66px;
}

.trustedby p {
  text-align: center;
  font-size: small;
  margin-bottom: 22px;
}

.trustadby-logos {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(8, 153px);
  grid-template-rows: 100px;
  gap: 8px;
}
.trusted {
  background-color: #201e19;
  border: 1.5px solid oklab(0.94 0 0 / 0.1);
  border-radius: 4px;
  padding: 20px 36px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trusted img {
  max-width: 98%;
  height: auto;
}

.feature1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 66px;
  background: var(--color-surface);
  padding: 16px;
}

.feture1-part1 p {
  font-size: 22px;
  color: var(--color-text-muted);
}
.feture1-part1 p span {
  color: #edecec;
}

.feture1-part1 a {
  text-decoration: none;
  color: rgb(202, 131, 0);
  font-size: 16px;
}
.feture1-part2 img {
  width: 840px;
  height: 650px;
  margin: 4px;
  border-radius: 6px;
}

.feature2 {
  margin-bottom: 66px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 46px;
  background: var(--color-surface);
  padding: 16px;
}

.testimonials {
  margin-bottom: 66px;
}

.testimonial-grid {
  height: 665px;
  display: grid;
  grid-template-columns: repeat(3, 427px);
  grid-template-rows: repeat(2, 278px);
  gap: 10px;
  justify-content: center;
}

.testimonial {
  background-color: #201e19;
  border: 1.5px solid oklab(0.94 0 0 / 0.1);
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 17px;
}

.testimonials h2 {
  margin-bottom: 56px;
  font-weight: 100;
}
.changelogs h2 {
  margin-bottom: 36px;
  text-align: left;
  font-weight: 100;
  width: 100%;
}
.newfetures h2 {
  margin-bottom: 32px;
  text-align: left;
  font-weight: 100;
  width: 100%;
}

.testimonial .user-details {
  display: flex;
  gap: 8px;
  align-items: center;
}

.testimonial .user-details img {
  border-radius: 2px;
}

.user-name span {
  color: var(--color-text-muted);
}

.changelogs {
  margin-bottom: 66px;
  text-align: left;
}

.changelogs-grid {
  display: grid;
  grid-template-columns: repeat(3, 427px);
  grid-template-rows: repeat(1, 553px);
  gap: 10px;
  justify-content: center;
}

.changelog {
  background-color: #201e19;
  border: 1.5px solid oklab(0.94 0 0 / 0.1);
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 17px;
}

.change-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 20%;
}
.change-details span {
  color: var(--color-text-muted);
}
.changes img {
  width: 392px;
  border-radius: 4px;
  object-fit: fill;
}

.newfetures {
  margin-bottom: 66px;
  text-align: left;
}

.newfeture-grid {
  display: grid;
  grid-template-columns: repeat(4, 318px);
  grid-template-rows: repeat(1, 123px);
  gap: 10px;
  justify-content: center;
}

.newfeture {
  background-color: #201e19;
  border: 1.5px solid oklab(0.94 0 0 / 0.1);
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 12px;
  padding: 17px;
}
.feture-date {
  color: var(--color-text-muted);
}
.feture-date button {
  color: var(--color-text-muted);

  margin-right: 12px;
}

.community {
  margin-top: 112px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.community-part1 {
  max-width: 640px;
}

.community-part1 p {
  font-size: 26px;
  line-height: 1.3;
  margin-bottom: 24px;
}

.community-download-btn {
  background: #edecec;
  color: #000;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 999px;
  margin-bottom: 22px;
}

.community-part2 img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 48px;
}
.highlights{


  display: flex;
  gap: 120px;
  justify-content: start;
  margin-bottom: 66px;
}

.highlights-grid{
  display: grid;
  grid-template-columns: repeat(1, 650px);
  grid-template-rows:repeat(147px 147px 136px) ;
  gap: 12px;
}

.highlight{
  padding: 15px;
   background-color: #201e19;
  border: 1.5px solid oklab(0.94 0 0 / 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
  

}

.try-now{
 text-align: center;
 
}
.try-now h1{
 margin-bottom: 16px;
 font-size: 66px;
 font-weight: 200;
 letter-spacing: -1.5px;
}

.trynow-section{
  margin-bottom: 66px;
}

.links{
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows:1fr ;
  justify-content: space-between;
}

.link{
  text-align: left;
  border: 2px solid red;
  display: flex;
  flex-direction: column;

  align-items: start;

 gap: 12px;
}

.footer {
  background: #1B1913;
  color: #EDECEC;
  padding: 80px 0 30px;

}


.footer-links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  color: #EDECEC;
  font-weight: -100;
}

.col h4 {
font-size: 14px;
  margin-bottom: 14px;
  color: var(--color-text-muted);
}

.col a {
  display: block;
  font-size: 13px;
  text-decoration: none;
  color: #EDECEC;
  margin-bottom: 10px;
}

.col a:hover {
  color: #fff;
}

.footer-bottom {
  margin-top: 60px;
  padding-top: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.footer-actions {
  display: flex;
  gap: 12px;
  align-items: center;
  background-color: #26241E;
  border-radius: 999px;
  padding: 2px 8px;
}

.footer-actions button {
  background: #1a1a1a3f;
  border: 1px solid #2a2a2a;
  color: #fff;
  padding: 6px 10px;
  border-radius: 999px;
  cursor: pointer;
}
.them .btnf{
  background: var(--color-text-muted);
}

.footer-actions button:hover {
  background: #2a2a2a;
}
